Welcome. 

The Delphi Method is a tool first created by the RAND corporation for aggregating expertise from a group in order to make a decision.
<br>
In Cass Sunstein's 2014 HBR article, he cites it as one method to help groups be less biased.
<br>
Try it out:
<br>
<form method="post" role="form">
What is the forecast you want to make? It should be True / False.
(Ex: Will revenue this quarter exceed last quarter?)
<br>
<input name="name" value="{{ name }}">
<br>
How many rounds do you want to play?
(If you're not sure, try 3.)
<br>
<input name="rounds" value="{{ rounds }}">
<br>
How many people are going to play?
(If they don't all participate the game won't work.)
<br>
<input name="players" value="{{ players }}">
<br>
<input type="submit">
</form>